.container{
    width: 100%;
    display: flex;
    padding-top: 4rem;
    height: 90vh;
    direction: rtl;
}
.box1{
    flex: calc(100% - 18rem);
    margin-right: 18rem;
}

.box2{
    width: 18rem;
    position: fixed;
    background-color: rgba(50, 205, 50, 0.222);
    height: auto;
}