.container{
    width: 22rem;
    height: 13.4rem;
    border-radius: 10px;
    overflow: hidden;
}
.description_box{
    position: relative;
    top: -7rem;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
}
.off{
    background-color: red;
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 360px;
    padding: 14px;
    font-size: .8rem;
    color: white;
    font-family: lalezar;
}
.title{
    font-size: 1.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: 900;
    background-color: red;
    padding: .5rem;
    border-radius: 10px; 
}